h1.projects {
	color: blanchedalmond;
	padding: 0.5rem;
	margin-top: 3rem;
	/* text-align: center; */
}

main.projects {
	background-color: black;
	margin-top: 3rem;
}

img.animated-gif {
	width: 300px;
	height: auto;
}

@media only screen and (min-width: 1040px) {
	h1.projects {
		margin-top: 0.5rem;
	}
	main.projects {
		display: flex;
		flex-direction: column;
	}
}
