/* general styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

.logo,
nav {
	display: inline-flex;
	justify-content: space-between;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	display: block;
}

p {
	line-height: 1.5em;
}

/* container styles */
.container {
	display: grid;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	background-image: url(./images/dot-grid.png);
	padding: 30px;
}

header {
	display: flex;
	justify-content: space-around;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: fit-content;
	margin-bottom: 1.5rem;
}
footer {
	text-align: left;
	margin: 1rem;
}

/* slider styles */
.slider,
.info {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative; /*to position the arrows on top */
	align-items: center;
	justify-content: center;
	text-align: center;
}

.info {
	width: fit-content;
	margin: 1rem auto;
}

.slider {
	min-width: fit-content;
}

/* slide styles */
.slide {
	width: fit-content;
	margin: 0 auto;
	/* display: flex; */
}

.slide-img {
	height: 225px;
	width: 225px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	/* border: 1px solid black; */
}

.slide-img img {
	width: 100%;
	height: auto;
}

.slide-img-text p {
	font-weight: bold;
}

.slide-in.active {
	opacity: 1;
	margin: 0 auto;
}

/* blurb section */
.blurb {
	max-width: 95%;
	margin: 0 auto;
	text-align: left;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 35%;
	color: black;
	background-color: aqua;
	padding: 3px 6px;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;

	border: 1px solid black;
	user-select: none;
}

.prev {
	left: -3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.next {
	right: -3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.prev:hover,
.next:hover {
	background-color: antiquewhite;
}

/* The dots */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active,
.dot:hover {
	background-color: aqua;
}

.show {
	display: block;
}

/* picture change animation */
/* .slide {
	animation: slide 1.5s ease-in;
} */

/* @keyframes slide {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
} */

/* desktop view */
@media only screen and (min-width: 1040px) {
	.container {
		max-width: 80%;
		height: 80vh;
		place-content: center;
		margin: 20px auto;
	}
	main,
	header,
	footer {
		display: flex;
		flex-direction: row;
		width: 70%;
		margin: 0 auto 0 5%;
		justify-content: space-between;
	}
	main {
		margin-top: 2rem auto;
	}
	header,
	footer {
		display: flex;
		justify-content: space-between;
	}

	.intro,
	.info,
	.blurb {
		margin: 5%;
	}

	.blurb {
		min-width: 50%;
	}
	/* .prev,
	.next {
		top: 60%;
	}

	.prev {
		left: 43%; 
	} */
}
