/* general styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

.logo,
nav {
	display: inline-flex;
	justify-content: space-between;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	display: block;
}

p {
	line-height: 1.5em;
}

/* container styles */
.container {
	display: grid;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	background-image: url(./images/dot-grid.png);
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	font-family: "Courgette", cursive;
	font-size: 2rem;
	color: #0a4958;
}

/* hamburger menu styles */
.hamburger {
	position: fixed;
	top: 1rem;
	right: 2rem;
	z-index: 999; /*keeps it above other elements */
	/* width: 1rem;
	height: 1rem; */
	border: 1px solid black;
	background: white;
	cursor: pointer;
}

span.xIcon {
	display: none;
}

.menu {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin-bottom: 1rem;
	width: 100%;
	height: fit-content;
	background: aqua;
	list-style: none;
	padding: 1.5rem;
	transform: translateY(-100%); /* keep it offscreen to start */
	transition: transform 0.2s;
	text-align: left;
}

.menu li {
	padding: 0.5rem 0;
}

/* show the menu class - to be toggled by js */
.showMenu {
	transform: translateY(0);
}

.menuLink {
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
	font-family: "Poppins", sans-serif;
}

.menuLink:hover {
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.intro {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: fit-content;
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
}

.intro h1 {
	margin: 1rem auto;
}
footer {
	text-align: left;
	margin: 1rem;
}

/* slider styles */
.slider,
.info {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative; /*to position the arrows on top */
	align-items: center;
	justify-content: center;
	text-align: center;
}

.info {
	width: fit-content;
	margin: 0.1rem auto;
}

.info-img {
	position: relative;
}

.slider {
	min-width: fit-content;
}

/* slide styles */
.slide {
	width: fit-content;
	margin: 0 auto;
	/* display: flex; */
}

.slide-img {
	height: 225px;
	width: 225px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	/* border: 1px solid black; */
}

.slide-img img {
	width: 100%;
	height: auto;
}

.slide-img-text p {
	font-weight: bold;
}

.slide-in.active {
	opacity: 1;
	margin: 0 auto;
}

/* blurb section */
.blurb {
	max-width: 95%;
	margin: 0 auto;
	text-align: left;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 35%;
	color: black;
	background-color: aqua;
	padding: 3px 6px;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;

	border: 1px solid black;
	user-select: none;
}

.prev {
	left: -3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.next {
	right: -3px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.prev:hover,
.next:hover {
	background-color: antiquewhite;
}

/* The dots */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active,
.dot:hover {
	background-color: aqua;
}

/* typing screen styles */

.typing h3 {
	position: absolute;
	width: 100%;
	height: 50%;
	font-size: 14px;
	font-family: "Source Code Pro", monospace;
	font-weight: bold;
}

.typing h3:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	line-height: 20px;
	top: -140%;
	left: 5%;
	animation: coding 6s linear 1;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
}

.typing.nonActive h3:after {
	display: none;
}

@keyframes coding {
	0% {
		content: "H";
	}

	5% {
		content: "He";
	}

	15% {
		content: "Hel";
	}
	20% {
		content: "Hell";
	}
	25% {
		content: "Hello";
	}
	30% {
		content: "Hello W";
	}
	35% {
		content: "Hello Wo";
	}
	40% {
		content: "Hello Woo";
	}
	45% {
		content: "Hello Wo";
	}
	50% {
		content: "Hello Wo";
	}
	55% {
		content: "Hello W";
	}
	60% {
		content: "Hello Wo";
	}
	65% {
		content: "Hello Wo";
	}
	70% {
		content: "Hello Wor";
	}
	75% {
		content: "Hello Worl";
	}
	80% {
		content: "Hello Worll";
	}
	85% {
		content: "Hello Worl";
	}
	90% {
		content: "Hello World";
	}
	95% {
		content: "Hello World!";
	}
	100% {
		content: "Hello World!:-)";
	}
}

/* picture change animation */
/* .slide {
	animation: slide 1.5s ease-in;
} */

/* @keyframes slide {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
} */

/* desktop view */
@media only screen and (min-width: 1040px) {
	.container {
		max-width: 80%;
		height: 80vh;
		place-content: center;
		margin: 20px auto;
	}
	main,
	footer {
		display: flex;
		flex-direction: row;
		width: 80%;
		/* margin: 0 auto 0 5%; */
		justify-content: space-between;
	}
	main {
		margin-left: 0;
		margin-top: 2rem auto;
	}
	header,
	footer {
		display: flex;
		justify-content: space-between;
	}

	header {
		background-color: aqua;
	}

	.intro,
	.info,
	.blurb {
		margin: 5%;
	}

	.blurb {
		min-width: 50%;
	}
	.hamburger {
		display: none;
	}
	.menu {
		/* display: inline-block; */
		transform: translateY(0);
		position: relative;
		top: 0.5rem;
		text-align: end;
	}
	.menu li {
		display: inline-block;
		padding: 0 2rem;
	}
	.logo {
		padding-left: 1rem;
	}
}
